{% extends "csvapp/upload_csv.html" %}
{% load static %}
{% block main-content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload CSV and Plot</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <h2 class="mb-4">Upload CSV and Generate Plots</h2>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.file.label_tag }} {{ form.file }}
        </div>
        
        {% if form.scatter_x %}
        <div class="form-group">
            {{ form.scatter_x.label_tag }} {{ form.scatter_x }}
        </div>
        <div class="form-group">
            {{ form.scatter_y.label_tag }} {{ form.scatter_y }}
        </div>
        {% endif %}
        
        <div class="form-check">
            {{ form.include_scatter }} {{ form.include_scatter.label_tag }}
        </div>
        <div class="form-check">
            {{ form.include_histogram }} {{ form.include_histogram.label_tag }}
        </div>
        <div class="form-check">
            {{ form.include_box }} {{ form.include_box.label_tag }}
        </div>
        
        <button type="submit" class="btn btn-primary mt-3">Plot!</button>
    </form>

    {% if scatter_plot %}
        <h3 class="mt-5">Scatter Plot</h3>
        <img src="data:image/png;base64,{{ scatter_plot }}" alt="Scatter Plot" class="img-fluid">
    {% endif %}

    {% if histogram %}
        <h3 class="mt-5">Histogram</h3>
        <img src="data:image/png;base64,{{ histogram }}" alt="Histogram" class="img-fluid">
    {% endif %}

    {% if box_plot %}
        <h3 class="mt-5">Box Plot</h3>
        <img src="data:image/png;base64,{{ box_plot }}" alt="Box Plot" class="img-fluid">
    {% endif %}
    
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


{% endblock main-content %}